@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
}

.dark {
  background-color: #121212;
  color: #f7c08a;
}

.light {
  background-color: #ffffff;
  color: #333;
}
